* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lato";
    overflow: hidden;
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E4E7EC;
    border-radius: 20px;
}

.p-dialog-header {
    padding: 10px 15px;
    border-bottom: 1px dashed #707070;
}

button {
    cursor: pointer;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}

::ng-deep .toast {
    font-size: 16px;
    color: black;
}

.toast-message {
    font-size: 14px !important; // or whatever size you prefer
  }
  
  // Optional: Change title font size if you're using one
  .toast-title {
    font-size: 16px !important;
  }