<div class="project-container">
  <div class="project-header">
    <h2>Project Details</h2>
    <div class="top-row">
      <div class="filter-section">
        <div class="sub-filter">
          <ng-container *ngIf="filterOption === '1'">
            <mat-form-field appearance="outline" class="filter-dropdown">
              <mat-label>Select Tag</mat-label>
              <mat-select [(ngModel)]="selectedTag" (selectionChange)="filterByTag()">
                <mat-option *ngFor="let tag of tagList" [value]="tag.name">{{ tag.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="filterOption === '2'">
            <mat-form-field appearance="outline" class="filter-dropdown">
              <mat-label>Select Audio</mat-label>
              <mat-select [(ngModel)]="selectedAudio" (selectionChange)="filterByAudio()">
                <mat-option *ngFor="let audio of filteredAudios()" [value]="audio">{{ audio }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <mat-radio-group [(ngModel)]="filterOption" class="filter-radio" aria-label="Select Filter Option">
            <mat-radio-button value="1">Select by Tag</mat-radio-button>
            <mat-radio-button value="2">Select by Audio</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="sub-filter">
          <ng-container *ngIf="filterOption === '1'">
            <div class="selected-display">
              <span *ngFor="let tag of selectedTags" class="pill">
                {{ tag }}
                <button (click)="removeTag(tag)">×</button>
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="filterOption === '2'">
            <!-- Selected Audios -->
            <div class="selected-display">
              <span *ngFor="let audio of selectedAudios" class="pill">
                {{ audio }}
                <button (click)="removeAudio(audio)">×</button>
              </span>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Filter Options -->

    </div>
  </div>
  <div class="project-body">
    <div class="upload-list">
      <ul class="audio-files-section">
        <li *ngFor="let file of getFilteredAudioFiles(); let i = index">
          <input type="checkbox" [checked]="isFileSelected(file)" (change)="toggleSelectFile(file, $event)" />
          <div class="upload-player">
            <div class="controls">
              <div class="file-name">
                <img [src]="imageBasePath + 'assets/Img/dashboard/file.png'" alt="">
                <span>{{ file.name | truncate:25}}</span>
              </div>
              <div class="control">
                <button (click)="togglePlayPause(i, audioFiles,'audioFiles')">
                  <mat-icon *ngIf="!isPlaying(i, 'audioFiles')">play_arrow</mat-icon>
                  <mat-icon *ngIf="isPlaying(i, 'audioFiles')">pause</mat-icon>
                </button>
              </div>
            </div>
            <div class="slider">
              <span id="current-time">{{ file.currentTime || '0:00' }}</span>
              <input type="range" class="seek-bar" [value]="file.seekValue || 0" max="100"
                (input)="seekAudio($event, i, audioFiles)"
                [style.background]="getSliderBackground(file.seekValue || 0)" />
              <span id="duration-time">{{ file.durationTime || '0:00' }}</span>

              <audio #audioPlayer controls (loadedmetadata)="updateProgress($event, i, audioFiles)"
                (timeupdate)="updateProgress($event, i, audioFiles)" [src]="file.url">
              </audio>
            </div>
          </div>

          <div class="selected-audio" *ngIf="file.tags && file.tags.length">
            <h4>Tags</h4>
            <div class="selected-audios">
              <span class="audio-tag" *ngFor="let tag of file.tags">
                {{ tag }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="project-footer">
    <mat-form-field appearance="outline" class="project-name">
      <mat-label>Project Name</mat-label>
      <input matInput type="text" [(ngModel)]="projectName" placeholder="Enter project name" />
    </mat-form-field>
    <button [disabled]="projectName === '' || selectedArr.length === 0" (click)="createNewProject(InfoTemplate)">
      Merge, transcript and analyse
    </button>
  </div>
</div>

<ng-template #InfoTemplate>
  <div class="info-container">
    <img [src]="imageBasePath + 'assets/Img/dashboard/file-process.png'" alt="">
    <h5>Project submitted for processing!</h5>
    <p>An email with link will be send to when the processing is complete.</p>
    <div class="info-btn">
      <button class="cl-btn" (click)="closeInfo()">Close</button>
      <button class="add-btn" (click)="viewAudioProcess()">View Audio Process Status</button>
    </div>
  </div>
</ng-template>

<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>